{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>EZPark Demo</title>

    <!-- Bootstrap Core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link href="{% static 'garage-manager/css/business-frontpage.css' %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <div class = "all">
        <!-- Image Background Page Header -->
        <!-- Note: The background image is set within the business-casual.css file. -->
        <META HTTP-EQUIV="refresh" CONTENT="1">
        <header class="entry-exit">
            <div class="container" >
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="e-text"></h2>
                    </div>
                </div>
            </div>
        </header>

        <!-- Page Content -->
        <div class="container">

            <!-- Portfolio Item Heading -->
            <br>
            <!-- /.row -->

            <!-- Portfolio Item Row -->
            <div class="row">

                <div class="plate-info">
                    <div class = "license-plate col-lg-8">
                        <h2 class="lp-num"> {{ transaction.car.license_plate }}</h2>
                    </div>
                    <div class="col-md-4">
                        <div class="payment col-md-12">
                            <center><h2> Paid: {{ transaction.amount }}</h2></center>
                        </div>
                        <div class="car-info">
                            <center><h1>{{ transaction.car.client.user.first_name }} {{ transaction.car.client.user.last_name }}</h1><center>
                            <center><h2>Date: {{ transaction.time_in|date:"m/d/Y" }}</h2></center>
                            <center><h2>Time in:{{ transaction.time_in|date:"h:i a"}}</h2></center>
                            <center><h2>Time out:{{ transaction.time_out|date:"h:i a" }}</h2></center>
                        </div>
                    </div>
                </div>
                

                

            </div>
            <!-- /.row -->

            <hr>

        </div>
    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script   src="http://code.jquery.com/jquery-2.2.1.min.js"   integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00=" 
      crossorigin="anonymous"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>



    <script>
        function turnRed() {
                $('.entry-exit').css("background-color", '#ff0000');
                $('.e-text').text("EXIT");
        }
        function turnGreen() {
                $('.entry-exit').css("background-color", 'green');
                $('.e-text').text("ENTER");
        }
        if ('{{transaction.amount}}' != 'None'){
            turnRed();
        }
        else{
            turnGreen();
        }


        
    </script>
</body>

</html>
